<!DOCTYPE html>
<html>
  <head>

    <%- include('../fonts') -%>

    <link href="/static/styles/main.css" rel="stylesheet"> 

    <%- include('../meta') -%>
    
    <%- include('../favicon') -%>

    <title><%= error.statusCode %> Error</title>
  </head>

  <body>
    <h1><%= error.statusCode %> Error</h1>

